.main-file-content {
    padding: 1rem;
}

.main-file-content h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

.main-file-content h3 {
    margin-bottom: .5rem;
}

.main-file-content a {
    color: #3a7ff0;
    text-decoration: underline;
}